

<form  action="/user_register" method="post" name="form1" id="form1" onSubmit="return validateForm()">

          

    <table width="364" height="272" align="center">
    <tr>
      <td><div align="left">Register Number </div></td>
      <td><div align="center">
        <input name="registerno" type="text" id="registerno"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Email</div></td>
      <td><div align="center">
        <input name="email" type="email" id="email"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="56"><div align="left">Gender</div></td>
      <td><div align="center">
        <input name="gender" type="text" id="gender"   required="" />
      </div></td>
    </tr>
    <tr>
      <td><div align="left">Password</div></td>
      <td><div align="center">
        <input name="password" type="password" id="password"   required="" />
      </div></td>
    </tr>
    <tr>
      <td height="26" colspan="2"><div align="center"><span class="tp">
          <input type="submit" name="btn" value="Register" />
      </span></div></td>
    </tr>
  </table>
</form>
 