 <li class="nav-item ">
                          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item ">
                          <a class="nav-link" href="/admin_log">Admin</a>
                      </li>
					   <li class="nav-item ">
                          <a class="nav-link" href="/staff_login">Staff</a>
                      </li>
                      <li class="nav-item ">
                          <a class="nav-link" href="/user_log">Student</a>
                      </li>
                      <li class="nav-item ">
                          <a class="nav-link" href="/contact">Help</a>
                      </li>